<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127104115-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127104115-1');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3659651196402257",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript">

if (screen.width <= 770) {
document.location = "/m/how_to_use";
}

</script>
	 <title>How To Use | Attendance Manager</title>
	<meta charset="UTF-8">
  <meta name="theme-color" content="#01518c" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


   <style type="text/css">
   *{  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body {               width:   100%;
              
               background:white;
  font-family:   'Montserrat', sans-serif;
                   display:   -webkit-box;
          -webkit-box-pack:   center;
             
} 
   	#wrapper{
   		
   		 
   		max-width:    100%;
                   margin:    0;
                  display:    -webkit-box;
       -webkit-box-orient:    vertical;
         -webkit-box-flex:    1;
           

   	}

   	nav{ 
   		width: 100%;
   		height: 50px;
   		background:#1c79be;
   		color: white;
      position: fixed;
      top: 0; 
   	}

   	nav li{
   		display: inline-block;
   		list-style: none;
   	}

   	li {
    float: right; }
    li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c79be;

}

 
 
 .boxwrap{-webkit-box-flex:   1;
      
             }

 a {text-decoration:none;}
 .box{
 border: 2px solid white;
border-radius: 5px;
 background:#1c79be;
 
            float: left;
color: white;

text-align:left;
  height: auto;
padding: 10px;
  margin: 0px 2.5% 5px 2.5%;
  
  
 }
 .log{  padding: 14px 16px;}
.mark{margin-left:7%;}
 a {text-decoration:none;} 

.subholder{
  width: 98%;margin-top: 7px;margin-bottom: 7px;
  margin-left: auto;margin-right: auto;
  background: white;border-radius: 5px;

}
span{font-weight: 600}
.formholder{-webkit-box-flex:   1;
       display:flex;justify-content:center;align-items:center;}
.fa-check-circle{color: green;}
.fa-times-circle{color: #cc1c1c;}
.fa-minus-circle{color: #ced32a;}
.fa-plus-circle{color: green;}
.fa-chevron-circle-right{color: #165dac;}
.fa-chevron-circle-left{color: #165dac;}
.fa-calendar-alt{margin-left:5px;}
.red{color: #cc1c1c;}
.green{color: #189b5c;}
.yellow{color: #ced32a;}
p{font-size:20px;}
i{font-size: 20px;margin-right: 10px; cursor: pointer;}
table{margin: 5px auto 5px auto;width: 80%; padding-bottom: 20px;}
table a{ text-decoration:none;color: black;font-weight: 600;}
td {
    padding: 2px;
    text-align: left;
} 
img{width: 80%; height: auto;border: 10px solid black;border-radius: 10px; margin: 7px;} 
.suberror{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;text-align: center;}
   </style>
</head>
<body>
<div id="wrapper">
<nav>
		<ul> <li style="float: left; margin: 15px; margin-left: 25px; font-size: 20px;"><a href="/"><i class="fas fa-arrow-left"></i></a></li><%if(!currentUser){%>
			<li><a href="/login" class="log">Login</a></li>
			<li><a href="/register" class="log">Sign Up</a></li><%}else{%>
      
			<li><a href="/logout" class="log">Logout</a></li><%}%>
		</ul>
</nav>

<section>
  <div class="boxwrap" style="text-align: center;">
<img src="/picd2ru.jpg" style="margin-top: 70px;" >
<img src="/picd1ru.jpg" >
<img src="/picd3ru.jpg" >
<img src="/picd4ru.jpg" >
<img src="/picd5ru.jpg" >
<img src="/picd6ru.jpg" >
  </div>
	 
</section> 
</div>
 
  


</body>
</html>


