<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127104115-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127104115-1');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3659651196402257",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript">

if (screen.width > 770) {
document.location = "/d/how_to_use";
}

</script>
	<title>How To Use | Attendance Manager</title>
	<meta charset="UTF-8">
  <meta name="theme-color" content="#01518c" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


   <style type="text/css">
   *{  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body {               width:   100%;
              
               background:white;
  font-family:   'Montserrat', sans-serif;
                   display:   -webkit-box;
          -webkit-box-pack:   center;
             
} 
   	#wrapper{
   		
   		 
   		max-width:    100%;
                   margin:    0;
                  display:    -webkit-box;
       -webkit-box-orient:    vertical;
         -webkit-box-flex:    1;
           

   	}

   	nav{ 
   		width: 100%;
   		height:  50px;
   		background:#1c79be;
   		color: white;
      position: fixed;
      top: 0; 
   	}

   	nav li{
   		display: inline-block;
   		list-style: none;
   	}

   	li {
    float: right; }
    li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c79be;

}

 
 
 .boxwrap{-webkit-box-flex:   1;
      
             }

 a {text-decoration:none;}
 .box{
 border: 2px solid white;
border-radius: 5px;
 background:#1c79be;
 
            float: left;
color: white;
width: 95%;
text-align:left;
  height: auto;
padding: 10px;
  margin: 0px 2.5% 5px 2.5%;
  
  
 }
 .log{  padding: 14px 16px;}
.mark{margin-left:7%;}
 a {text-decoration:none;} 

.subholder{
  width: 98%;margin-top: 7px;margin-bottom: 7px;
  margin-left: auto;margin-right: auto;
  background: white;border-radius: 5px;

}
span{font-weight: 600}
.formholder{-webkit-box-flex:   1;
       display:flex;justify-content:center;align-items:center;}
.fa-check-circle{color: green;}
.fa-times-circle{color: #cc1c1c;}
.fa-minus-circle{color: #ced32a;}
.fa-plus-circle{color: green;}
.fa-chevron-circle-right{color: #165dac;}
.fa-chevron-circle-left{color: #165dac;}
.fa-calendar-alt{margin-left:5px;}
.red{color: #cc1c1c;}
.green{color: #189b5c;}
.yellow{color: #ced32a;}
p{font-size:20px;}
i{font-size: 20px;margin-right: 10px; cursor: pointer;}
table{margin: 5px auto 5px auto;width: 80%; padding-bottom: 20px;}
table a{ text-decoration:none;color: black;font-weight: 600;}
td {
    padding: 2px;
    text-align: left;
}  .suberror{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;text-align: center;}
   </style>
</head>
<body>
<div id="wrapper">
<nav>
		<ul> <li style="float: left; margin: 15px; margin-left: 25px; font-size: 20px;"><a href="/"><i class="fas fa-arrow-left"></i></a></li><%if(!currentUser){%>
			<li><a href="/login" class="log">Login</a></li>
			<li><a href="/register" class="log">Sign Up</a></li><%}else{%>
      
			<li><a href="/logout" class="log">Logout</a></li><%}%>
		</ul>
</nav>

<section>
  <div class="boxwrap" style="text-align: center;">
<div class="box" style="margin-top: 70px;">
 <p>
   <strong>In with timetable section </strong> you can upload your subject (course) details and timetable and mark attendance according to the timetable and you can also keep a record of your previous attendances.
 </p>
</div>
<div class="box">
 <p>
   <strong>In without timetable section </strong> upload your subject details and mark attendance without timetable and you can also keep a record of your previous attendances.
 </p>
</div>
<div class="box">
 <p>
   <strong>In the friends section </strong> manage your friends and see their attendances.
 </p>
</div>
    <img src="/picm1.JPG" style="height: auto;width:95%;border:4px solid black;border-top: 8px solid black;border-radius: 10px; margin: auto;  ">
    <div class="box">
 <p>
   <strong>go to subjects page to start</strong> with adding a subject.
 </p>
</div>
<img src="/picm2.JPG" style="height: auto;width:95%;border:4px solid black;border-top: 8px solid black;border-radius: 10px; margin: auto;  "> 
<div class="box">
 <p>
   <strong>In the subjects page</strong> you can see your attendance, edit the subject details and delete the subject.
 </p>
</div>
<img src="/picm4.JPG" style="height: auto;width:95%;border:4px solid black;border-top: 8px solid black;border-radius: 10px; margin: auto;  ">
<div class="box">
 <p>
   <strong>Go to Timetable section </strong>to add classes by selecting subject, time and day(s), you can also delete the classes by pressing the <span class="red">red</span> cross button.
 </p>
</div>
<img src="/picm5.JPG" style="height: auto;width:95%;border:4px solid black;border-top: 8px solid black;border-radius: 10px; margin: auto;  ">
<div class="box">
 <p>
   <strong>Go to Mark attendance section </strong>to mark attendance for the day(all classes set by your for that day of week will be there in the mark attendance section).
 </p>
</div>
<div class="box">
 <p>
  Tap the 
  <span class="green">green </span>button for marking present,
  <span class="red">red </span> for absent and 
  <span class="yellow">yellow </span> for the holiday or no class(not counted).
 </p>
</div>
<div class="box">
 <p>
  you can also add extra classes and manage them from the mark attendance section.
 </p>
</div>

<img src="/picm6.JPG" style="height: auto;width:95%;border:4px solid black;border-top: 8px solid black;border-radius: 10px; margin: auto;  ">
<div class="box">
 <p>
  <strong>After marking the attendance they won't be shown on the mark attendance page so if you want to change them go to attendance history and choose the day whose attendance you need to see or change.</strong>
 </p>
</div><div class="box">
 <p>
Navigate to the other months to see the previously marked attendances.
 </p>
</div>

<img src="/picnewm7.jpeg" style="height: auto;width:95%;border:4px solid black;border-top: 8px solid black;border-radius: 10px; margin: auto;  ">
<div class="box">
 <p>
<strong>In the friends section </strong>send friend request to a user by username, see received friend requests, see sent friend requests and see your friends' attendance, and you can also unfriend your friends. 
 </p>
</div>

<img src="/picm8.JPG" style="height: auto;width:95%;border:4px solid black;border-top: 8px solid black;border-radius: 10px; margin: auto;  ">
<div class="box">
 <p>
<strong>In the Without timetable <em>subjects</em> section </strong> start with adding a subject and then you can mark attendance, edit the subject details, delete the subject and also keep a record of your previous attendances.
 </p>
</div>

<img src="/picm9.JPG" style="height: auto;width:95%;border:4px solid black;border-top: 8px solid black;border-radius: 10px; margin: auto;  ">
<div class="box" style="text-align:center;">
 <p>
<strong>
  Use this application to manage your attendance OR manage your week schedule.
</strong><br><em >enjoy the app! :)</em>
 </p>
</div>
  </div>
	 
</section> 
</div>
 
  


</body>
</html>


